:root {
  --background-color: #FFF;
  --border-color: #c3c4c7;
}

@mixin provider-flexbox {
  display: flex;
  align-items: center;
  row-gap: 20px;
}

.tabs-holder {
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--background-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.nav {
  &-tab {
    &:first-child {
      margin-left: 20px;
    }

    &-active {
      background-color: var(--background-color);

      &:focus {
        outline: none;
        box-shadow: none;
        background-color: var(--background-color);
        border-bottom-color: transparent;
      }
    }
  }
}

.form-table {
  label {
    display: block;
  }
}

.provider {
  @include provider-flexbox;

  &__wrapper > div:not(:last-child) {
    margin-bottom: 40px;
  }

  &__label {
    @include provider-flexbox;
    font-weight: 600;
    font-size: 14px;
    column-gap: 10px;
    width: 100%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  input {
    &:checked {
      & + .slider {
        background-color: #108a00;

        &:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }

    &:focus {
      & + .slider {
        box-shadow: 0 0 1px #108a00;
      }
    }
  }
}

#config-textarea-wrapper {
  display: inline-block;

  @media (min-width: 641px) {
    width: calc(100% - 18em);
  }
}

#sign-in-providers-tab {
  background-color: var(--background-color);
  width: 20em;
  padding: 10px;
}

#sign-in-providers-list {
  label {
    position: relative;

    span {
      position: absolute;
      transform: translate(-50%, 0);

      &.mail {
        left: 40%;
        top: 40%;
      }

      &.facebook {
        left: 30%;
      }

      &.google {
        left: 26%;
      }
    }
  }
}