:root {
  --background-color: #FFF;
  --border-color: #c3c4c7;
}

.tabs-holder {
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--background-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.nav {
  &-tab {
    &:first-child {
      margin-left: 20px;
    }

    &-active {
      background-color: var(--background-color);

      &:focus {
        outline: none;
        box-shadow: none;
        background-color: var(--background-color);
        border-bottom-color: transparent;
      }
    }
  }
}

.form-table {
  label {
    display: block;
  }
}

#config-textarea-wrapper {
  width: calc(100% - 18em);
  display: inline-block;
}

#sign-in-providers-tab {
  background-color: var(--background-color);
  width: 20em;
  padding: 10px;
}

#sign-in-providers-list {
  label {
    position: relative;

    span {
      position: absolute;
      top: 45%;
      transform: translate(-50%, -50%);

      &.mail {
        left: 40%;
        top: 40%;
      }

      &.facebook {
        left: 30%;
      }

      &.google {
        left: 26%;
      }
    }
  }
}
