@import "../../../lib/toast/jquery.toast.min.css";

.tabs-holder {
  .group {
    margin: 1em auto;
  }
}

.form-table {
  label {
    display: block;
  }
}

#config-textarea-wrapper {
  width: calc(100% - 18em);
  display: inline-block;
}

#sign-in-providers-tab {
  background-color: #FFF;
  width: 20em;
  padding: 10px;
}

#sign-in-providers-list {
  label {
    position: relative;

    span {
      position: absolute;
      left: 30%;
      top: 45%;
      transform: translate(-50%, -50%);

      &.google {
        left: 26%;
      }
    }
  }
}
